$mainColor: #1890FF;
$priceColor: #FF644A;
$errColor: #EB5151;

$baseBgColor: #f0f2f5;

$color45: rgba($color: #000000, $alpha: .45);
$color65: rgba($color: #000000, $alpha: .65);
$color85: rgba($color: #000000, $alpha: .85);

$borderRadius1: 2px;
$borderRadius2: 4px;